.content {
  padding-top: 20px;
}

#egvs {
  margin-bottom: 20px;
}

.egvs-chart-wrapper {
  margin-top: 10px;
}

.s-units {
  position:absolute;
  right:5px;
  bottom:5px;
}

.btn-fetch-egvs {
  min-width: 70px;
}