.content {
  padding-top: 20px;
}

#egvs {
  margin-bottom: 20px;
}

.egvs-chart-wrapper {
  margin-top: 10px;
}

.s-units {
  position:absolute;
  right:5px;
  bottom:5px;
}

.btn-fetch-egvs {
  min-width: 70px;
}

.latest {
  margin-bottom: 5px;
}

.unit-container {
  margin-bottom: 1px;
}

.unit-container > div {
  padding-top: 5px; 
  padding-bottom: 5px;
}

.unit-container button {
  border: 1px solid #28a745;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

#btn-reload-latest {
  position: absolute;
  top: 10px;
  right: 10px;
}

#btn-reload-latest:hover {
  cursor: pointer;
}

.average-contanier {
  margin-bottom: 10px;
}